@import "../variables";
@import "../mixins";

:local .Header {
  h1 {
    text-align: center;
    font-weight: 400;

    .inner {
      display: inline-block;

      padding-bottom: -3px;
      border-bottom: 2px solid transparentize($main-color, 0.2);
    }

    small {
      font-size: 75%;
      font-weight: 200;
    }
  }
}

:local .Explanation {
  @include callout-box;
}
