@import "../../../variables";

.cell {
  display: inline-block;

  height: 40px;
  width: 40px;

  background: $main-color;

  margin: 2px;

  border: 2px solid darken($main-color, 10%);

  &.Obstruction {
    border-color: darken($main-color, 50%);
    background-color: darken($main-color, 40%);
  }

  &.Cat {
    background-image: url(./img/cat.png);
  }

  &.Mouse {
    background-image: url(./img/mouse.png);
    background-size: contain;
  }

  &.Cheese {
    background-image: url(./img/cheese.png);
    background-size: contain;
  }
}
