@import "./variables";

@mixin callout-box {
  margin: 1em auto;
  max-width: 25em;

  padding: 0.75em;

  border: 2px solid $main-color;
  border-width: 2px 0px;
}

@mixin content-box {
  margin: 1em auto;
  width: 70vw;
  max-width: 40em;

  padding: 0.75em;

  border: 2px solid $main-color;

  border-width: 0 2px;
}

@mixin alert-box($base-color) {
  background: $base-color;

  margin: 0.5em 0.1em;

  border: 1px solid mix(black, $base-color, 20%);
  border-radius: 4px;

  padding: 0.3em 1em;

  text-align: left;
  color: mix(black, $base-color, 70%);
}

@mixin danger-box {
  @include alert-box(#F9F1F1);
}

@mixin button($base-color) {
  border: 1px solid $base-color;
  border-radius: 4px;
  padding: 0.6em 1em;
  background: mix(white, $base-color, 15%);

  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.03em;
}

@mixin button-showcase {
  display: block;

  width: 20em;
  margin: 0.5em auto;
}

@mixin primary-button {
  @include button($main-color)
}
